<ng-container *ngIf="timing">
    <h4>Timing</h4>
    <div class="time">
        <h5>First</h5>
        <div class="row">
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>First A</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.first_a}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>First J</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.first_j}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="time">
        <h5>Second</h5>
        <div class="row">
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Second A</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.second_a}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Second J</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.second_j}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="time">
        <h5>Third</h5>
        <div class="row">
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Third A</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.third_a}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Third J</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.third_j}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="time">
        <h5>Fourth</h5>
        <div class="row">
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Fourth A</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.fourth_a}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Fourth J</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.fourth_j}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="time">
        <h5>Fifth</h5>
        <div class="row">
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Fifth A</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.fifth_a}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-6 timeCard">
                <mat-card>
                    <mat-card-title>Fifth J</mat-card-title>
                    <mat-card-content>
                        <div class="timeT">{{timing.fifth_j}}</div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>